<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="/static/index.css">
</head>
<body>
    <div class="container">
        <div class="main-content">
            <h1>Выберите число и валюту</h1>
            <div class="main-func">
                <form action="/" method="POST">
                    <label for="number">Number</label><br>
                    <input type="number" name="number" class="number__input" required>
                    <label for="current">Current</label>
                    <select name="current">
                        {% for curr in curr %}
                            <option value={{curr}}>{{ curr }}</option>
                        {% endfor %}
                    </select>
                    <label for="current-to">Current to</label>
                    <select name="convert-current-to">
                        {% for curr in curr %}
                            <option value= {{curr}}>{{ curr }}</option>
                        {% endfor %}
                    </select>
                    <input type="submit" value="btn" class="btn">
                </form>
            </div>
        </div>
    </div>
    
</body>
</html>
